.nav {
  min-width: 100%;
  background-color: gold;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  padding-left: 0;
  margin: 5px 18px;
}

.nav-item {
  color: black;
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}

.form__row {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.form__label {
  min-width: 100px;
  /* text-align: right; */
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}

.form__input {
  flex: 1;
  display: block;
  padding: 4px 8px;
  font-size: 16px;
  margin-bottom: 4px;
}
.form__btn {
  width: 10em;
  height: 5ex;
  border: 2px solid black;
  background-color: gold;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.form__btn:hover {
  background-color: black;
  color: gold;
}

.column-layout {
  margin-top: 36px;
  padding: 12px 0;
  background-color: #fff;
  display: flex;
}

.column-item {
  flex: 1;
  padding: 0 16px;
  text-align: center;
  border: 1px solid #ccc;
}

.sidebar-one {
  flex: 1;
  /* oder: 1; */
}

.sidebar-two {
  flex: 1;
  /* oder: 2; */
}

.main-column {
  flex: 3;
  /* oder: 3; */
}

.feature-layout {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item {
  padding: 12px 16px;
  margin-top: 16px;
  flex-basis: 30%;
}

.feature-item:nth-child(1) {
  background-color: #50d2b1;
}

.feature-item:nth-child(2) {
  background-color: #dd9d37;
}

.feature-item:nth-child(3) {
  background-color: #e447a8;
}

.wrap-layout {
  background-color: #fff;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */ /* đảo cross start xuông dưới cross end lên trên
  flex-item khi dôn sẽ đẩy theo hướng lên trên do đã đảo người chiều của cross start và cross end */
  justify-content: space-around;
}

.wrap-layout__item {
  width: 148px;
  height: 90px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  font-weight: 700;
  margin: 20px;
  background-color: #50d2b1;
}

/* Center layout */
.center-layout {
  background-color: rgb(192, 227, 255);
  margin: 36px auto 0 auto;
  padding: 32px 0;
  max-width: 650px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-layout__item {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.chart-layout {
  margin: 36px auto 0 auto;
  padding: 32px 0;
  height: 320px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.chart-layout__item {
  align-self: flex-end;
  width: 60px;
  color: #fff;
  text-align: center;
  height: var(--percent);
  background-color: #50d2b1;
  animation: growth 1s ease-in;
}

@keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--percent) - 50%);
  }
  to {
    opacity: 1;
    height: var(--percent);
  }
}

.the-end {
  margin: 12px auto 48px auto;
  padding: 32px 0;
  max-width: 740px;
  height: 360px;
  display: flex;
  flex-direction: row-reverse;
}

.the-end__first {
  padding: 4px 16px;
  background-color: #50d2b1;
  flex: 1;
}

.the-end__second {
  padding: 4px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.the-end__second__one {
  padding: 4px 16px;
  background-color: #e447a8;
}

.the-end__second__two {
  flex-direction: column;
  padding: 4px 16px;
  background-color: #50d2b1;
}
